<h1>Phone Book</h1>

<form action='/contact' method='get'>
  <div class="form-group">
    <label for="name">Name</label>
    <input id="name" name="name" class="form-control" type="text">
    <label for="phone_number">Phone Number</label>
    <input id="phone_number" name="phone_number" class="form-control" type="text">
  </div>
  <div class ="button">
    <button type="submit" class="btn btn-default btn-lg">Save</button>
  </div>
</form>
