<h1>Phone Book</h1>

<h3>Add a contact here:</h3>

<form action='/phone_number' method='post'>
  <div class="form-group">
    <label for="name">Name</label>
    <input id="name" name="name" class="form-control" type="text">
  </div>
  <div class ="button">
    <button type="submit" class="btn btn-default btn-lg">Save</button>
  </div>
</form>

<h3>Contacts: </h3>
<ul>
  <% @contacts.each() do |contact| %>
    <li><a href="/phone_number/<%= contact.id() %>"><%= contact.name() %></a></li>
  <% end %>
</ul>
